{% extends "schedule/default.html" %}

{% block breadcrumbs %}
<div class="row hide-on-print">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url "competition" %}">Schedules</a></li>
      <li class="current">
        <a href="#">
          {{ competition.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block articletitle %}
  <div class="row">
    <header class="large-12 columns">
      <h1>{{ competition.name }}</h1>
    </header>
  </div>
{% endblock %}

{% block content %}
  <section class="row">
    <ul class="large-12 columns">
      {% for age_group in object_list %}
      <li>
        <a href="{% url "schedule" competition=competition.slug age_group=age_group.slug %}">{{ age_group.name }}</a>
      
        {% if age_group.standings %}
          (<a href="{% url "standings" competition=competition.slug age_group=age_group.slug %}">Standings</a>)
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
