{% extends "schedule/default.html" %}

{% block breadcrumbs %}
<div class="row hide-on-print">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li class="current"><a href="#">Schedules</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block articletitle %}
  <div class="row">
    <header class="large-12 columns">
      <h1>Schedules</h1>
    </header>
  </div>
{% endblock %}

{% block content %}
<div class="row">
  <ul class="large-12 columns">
  {% for competition in object_list %}
    <li><a href="{% url "age_group" competition=competition.slug %}">{{ competition.name }}</a></li>
  {% endfor %}
  </ul>

  <p>Looking for All-Star Tournament schedules?  They're on the <a href="/play/all-star/tournament/">All-Star Tournament</a> page.</p>
</div>
{% endblock %}
