{% extends "schedule/default.html" %}

{% load tz %}
{% load cache %}

{% block breadcrumbs %}
<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="{% url "competition" %}">Schedules</a></li>
      <li>
        <a href="{% url "age_group" competition=competition.slug %}">
          {{ competition.name }}
        </a>
      </li>
      <li{% if not team %} class="current"{% endif %}>
        <a href="{% if team %}{% url "schedule" competition=competition.slug age_group=age_group.slug %}{% else %}#{% endif %}">
          {{ age_group.name }}
        </a>
      </li>
      {% if team %}
        <li class="current">
          <a href="#">{{ team.name }}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}

{% block articletitle %}
  <div class="row">
    <header class="large-12 columns">
      <h1>
        {% if team %}
          {{ team.name }}
        {% else %}
          {{ age_group.name }}
        {% endif %}
      </h1>
    </header>
  </div>
{% endblock %}

{% block content %}
<section class="row">
  <table class="large-12 columns">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Home</th>
        <th></th>
        <th>Away</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for game in object_list %}
      <tr>
        <td>{{ game.when|date }}</td>
        <td>{{ game.when|time }}</td>
        <td>
          {% if game.home_team %}
            <a href="{% url "team_schedule" competition=competition.slug age_group=age_group.slug team=game.home_team.slug %}">
              {{ game.home_team.name }}
            </a>
          {% else %}
            TBA
          {% endif %}
        </td>
        <td>vs.</td>
        <td>
          {% if game.away_team %}
            <a href="{% url "team_schedule" competition=competition.slug age_group=age_group.slug team=game.away_team.slug %}">
              {{ game.away_team.name }}
            </a>
          {% else %}
            {% if game.bye %}
              "bye"
            {% else %}
              TBA
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if game.location %}
          <a href="{% url "location" slug=game.location.slug %}">
            {{ game.location.name }}
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
