{% extends "schedule/default.html" %}

{% load tz %}
{% load cache %}

{% block content %}
<section class="row">
  {% cache 600 games %}
  <table class="large-12 columns">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Home</th>
        <th></th>
        <th>Away</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      {% for game in object_list %}
      <tr>
        <td>{{ game.when|date }}</td>
        <td>{{ game.when|time }}</td>
        <td>
          {% if game.home_team %}
            <a href="{% url "team_schedule" competition=competition.slug age_group=age_group.slug team=game.home_team.slug %}">
              {{ game.home_team.name }}
            </a>
          {% else %}
            TBA
          {% endif %}
        </td>
        <td>vs.</td>
        <td>
          {% if game.away_team %}
            <a href="{% url "team_schedule" competition=competition.slug age_group=age_group.slug team=game.away_team.slug %}">
              {{ game.away_team.name }}
            </a>
          {% else %}
            {% if game.bye %}
              "bye"
            {% else %}
              TBA
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if game.location %}
          <a href="{% url "location" slug=game.location.slug %}">
            {{ game.location.name }}
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcache %}
</section>
{% endblock %}
