/* line 1, ../sass/schedule.scss */
a[href]:after {
  content: "" !important;
}

/* line 5, ../sass/schedule.scss */
a, a:visited, a:hover {
  text-decoration: none;
}

/* line 9, ../sass/schedule.scss */
thead {
  display: table-header-group;
}
