{% extends "base.haml" %}

{% load markdown_tags %}
{% load humanize %}

{% block pagetitle %}{{ object.title }}{{ super }}{% endblock %}

{% block articletitle %}
<div class="row">
  <div class="large-12 columns">
    <h1>{{ object.title }}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<article class="row">
  <div class="large-12 columns">
    <p class="text-right subheader">
      {% if object.updated_at %}
        Last Updated
      {% else %}
        Posted
      {% endif %}

      {{ object.updated_at|naturaltime }}
    </p>
  </div>

  <div class="content large-12 columns">
    {% autoescape off %}
      {{ object.content|markdown }}
    {% endautoescape %}
  </div>
</article>
{% endblock %}
