{% extends "base.haml" %}

{% load humanize %}
{% load markdown_tags %}

{% block pagetitle %}
Home
{% endblock %}

{% block content %}
%div.row
  %div.large-12.columns
    .slideshow-wrapper
      -# Original HAML syntax should be %ul{:"data-orbit" => "data-orbit"}
      .preloader
      %ul{'data-orbit': None}
        %li
          %img{:src => "{{ STATIC_URL }}images/banners/kedron_u8b_1.jpg"}/
        %li
          %img{:src => "{{ STATIC_URL }}images/banners/kedron_u8b_2.jpg"}/

%div.row
  %div.large-4.columns
    %h3
      %a{:href => "{% url 'news' %}"} News
    %ul
      - for item in news
        %li
          %a{:href => "{% url 'news_item' year=item.created_at.year month=item.created_at.month slug=item.slug %}"}= item.title
          %span.subheader
            \- Posted
            = item.updated_at|naturaltime
  %div.large-8.columns
    - if featured_news
      %article.panel
        %header
          %h4= featured_news.title
          %p.text-right.subheader= featured_news.updated_at|naturaltime

        {% autoescape off %}
          {{ featured_news.content|markdown|truncatewords_html:20 }}
        {% endautoescape %}

        %span
          %a{:href => "{% url 'news_item' year=featured_news.created_at.year month=featured_news.created_at.month slug=featured_news.slug %}"} Read More

%div.row
  %hr

  %ul.small-block-grid-5
    %li
      %a{:href => "http://occnaoshawa.org/"}
        %img{:src => "{{ STATIC_URL }}images/logos/x128/occna.png"}
    %li
      %a{:href => "http://www.nascsportsoshawa.org/"}
        %img{:src => "{{ STATIC_URL }}images/logos/x128/nascsports.png"}
    %li
      %a{:href => "http://nascsoftball.org/"}
        %img{:src => "{{ STATIC_URL }}images/logos/x128/nascsoftball.png"}
    %li
      %a{:href => "http://naschockeyoshawa.org/"}
        %img{:src => "{{ STATIC_URL }}images/logos/x128/naschockey.png"}
    %li
      %a{:href => "http://oshawaturul.com/"}
        %img{:src => "{{ STATIC_URL }}images/logos/x128/oshawaturul.png"}
{% endblock %}
