{% load menu_tags %}
{% load compress %}

!!! 5
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}/
    %title {% block pagetitle %}{% endblock %} | Oshawa N.A.S.C. Soccer

    {% compress css %}
    %link{:href => "{{ STATIC_URL }}css/app.css", :rel => "stylesheet"}/
    %link{:href => "{{ STATIC_URL }}css/ie8-grid-foundation-4.css", :rel => "stylesheet"}/
    {% endcompress %}
    
    {% block extracss %}{% endblock %}

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/

    %link{:rel => "shortcut icon", :href => "{{ STATIC_URL }}images/favicon.ico"}/
    %link{:rel => "apple-touch-icon", :href => "{{ STATIC_URL }}images/ios/touch-icon-iphone.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "{{ STATIC_URL }}images/ios/touch-icon-ipad.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "{{ STATIC_URL }}images/ios/touch-icon-iphone-retina.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "{{ STATIC_URL }}images/ios/touch-icon-ipad-retina.png"}/

    {% compress js %}
    %script{:src => "{{ STATIC_URL }}js/vendor/custom.modernizr.js"}
    {% endcompress %}
  %body#index.home
    .contain-to-grid.hide-on-print
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a{:href => "/"} Oshawa N.A.S.C. Soccer
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          {% show_menu "mainmenu" 1 999 "all" %}
          %ul.right
            %li.has-form
              %a.button{:href => "/schedule/"} Schedules

    {% block breadcrumbs %}{% endblock %}
    {% block articletitle %}{% endblock %}
    {% block content %}{% endblock %}

    %footer.row.hide-on-print
      %hr/
      #copyright-notice.large-6.columns
        Copyright &copy; 2013 Oshawa N.A.S.C. Soccer.  All rights reserved.
      %div#important-links.large-3.columns
        %ul.inline-list.right
          %li
            %a{:href => "/schedule/"} Schedules

    :javascript
      document.write('<script src=' + ('__proto__' in {} ? '{{ STATIC_URL }}js/vendor/zepto' : '{{ STATIC_URL }}js/vendor/jquery') + '.js><\/script>')
      var _gaq=[['_setAccount','UA-24292795-2'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    {% compress js %}
    %script{:src => "{{ STATIC_URL }}js/foundation/foundation.js"}
    /
      <script src="{{ STATIC_URL }}js/foundation/foundation.alerts.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.cookie.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.forms.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.joyride.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.magellan.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
    /  <script src="{{ STATIC_URL }}js/foundation/foundation.placeholder.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.section.js"></script>
      <script src="{{ STATIC_URL }}js/foundation/foundation.tooltips.js"></script>
    %script{:src => "{{ STATIC_URL }}js/foundation/foundation.topbar.js"}
    {% endcompress %}
    :javascript
      $(document).foundation();

    {% block extrajs %}{% endblock %}
