{% load menu_tags %}
{% load compress %}

!!! 5
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}/
    %title {% block pagetitle %}{% endblock %} | Oshawa N.A.S.C. Soccer

    {% compress css %}
    %link{:href => "{{ STATIC_URL }}css/app.css", :rel => "stylesheet"}/
    %link{:href => "{{ STATIC_URL }}css/ie8-grid-foundation-4.css", :rel => "stylesheet"}/
    {% endcompress %}
    
    {% block extracss %}{% endblock %}

    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1", :name => "viewport"}/

    %link{:rel => "shortcut icon", :href => "{{ STATIC_URL }}images/favicon.ico"}/
    %link{:rel => "apple-touch-icon", :href => "{{ STATIC_URL }}images/ios/touch-icon-iphone.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "72x72", :href => "{{ STATIC_URL }}images/ios/touch-icon-ipad.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "114x114", :href => "{{ STATIC_URL }}images/ios/touch-icon-iphone-retina.png"}/
    %link{:rel => "apple-touch-icon", :sizes => "144x144", :href => "{{ STATIC_URL }}images/ios/touch-icon-ipad-retina.png"}/

    %script{:src => "{{ STATIC_URL }}js/vendor/custom.modernizr.js"}
  %body#index.home
    .contain-to-grid.hide-on-print
      %nav.top-bar
        %ul.title-area
          %li.name
            %h1
              %a{:href => "/"} Oshawa N.A.S.C. Soccer
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.left
            {% show_menu "mainmenu" 1 999 "all" %}
            %li.has-form
              %a.button{:href => "/schedule/"} Schedules
          %ul.right
            %li.has-form
              %form{:method => "get", :action => "{% url 'haystack_search' %}"}
                %input{:name => "q"}

    {% block breadcrumbs %}{% endblock %}
    {% block articletitle %}{% endblock %}
    {% block content %}{% endblock %}

    %footer.row.hide-on-print
      %hr/
      #copyright-notice.large-6.columns
        Copyright &copy; 2013 Oshawa N.A.S.C. Soccer.  All rights reserved.
      %div#important-links.large-3.columns
        %ul.inline-list.right
          %li
            %a{:href => "/schedule/"} Schedules


    {% compress js %}
    %script{:src => "{{ STATIC_URL }}js/vendor/jquery.js"}
    {% endcompress %}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24292795-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    {% compress js %}
    %script{:src => "{{ STATIC_URL }}js/foundation/foundation.js"}
    %script{:src => "{{ STATIC_URL }}js/foundation/foundation.orbit.js"}
    %script{:src => "{{ STATIC_URL }}js/foundation/foundation.topbar.js"}
    {% endcompress %}
    
    :javascript
      $(document).foundation();

    {% block extrajs %}{% endblock %}
