{% load compress %}
{% load fiber_tags %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="{{ DEFAULT_LANG }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>{% block pagetitle %}{% endblock %} | Oshawa N.A.S.C. Soccer</title>

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/app.css">
    {% endcompress %}
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
  </head>

  <body id="index" class="home">
    <div class="contain-to-grid">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Oshawa N.A.S.C. Soccer</a></h1>
          </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          {% show_menu "mainmenu" 1 999 "all" %}
          <ul class="right">
            <li class="has-form">
              <form>
                <input type="search" name="q" placeholder="Search">
              </form>
            </li>
          </ul>
        </section>
      </nav>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="row">
      <hr>

      <div id="copyright-notice" class="large-6 columns">
        Copyright &copy; 2013 Oshawa N.A.S.C. Soccer.  All rights reserved.
      </div>
      <ul id="important-links" class="inline-list large-3 columns">
        <li><a href="/play/house-league/register/">Register</a></li>
        <li><a href="#">Something</a></li>
      </ul>
    </footer>

    {% compress js %}
    <script>
      document.write('<script src=' + ('__proto__' in {} ? '{{ STATIC_URL }}js/vendor/zepto' : '{{ STATIC_URL }}js/vendor/jquery') + '.js><\/script>')
    </script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
    <!--<script src="{{ STATIC_URL }}js/foundation/foundation.alerts.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.clearing.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.forms.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.joyride.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.magellan.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.orbit.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.placeholder.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.reveal.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.section.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/foundation.tooltips.js"></script>-->
    <script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"></script>
    <script>
      $(document).foundation();
    </script>
    {% endcompress %}
  </body>
</html>
